<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherForecastServiceSoap" />
        <binding name="WebService1Soap" />
        <binding name="AddTwoServiceSoap" />
        <binding name="SubstractServiceSoap" />
        <binding name="NameDateSoap" />
        <binding name="FamousPeopleDiedInPlanecrashSoap" />
        <binding name="PeopleWhoPassedAway2010Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51685/WeatherForecastService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherForecastServiceSoap"
        contract="WeatherForecast.WeatherForecastServiceSoap" name="WeatherForecastServiceSoap" />
      <endpoint address="http://localhost:51685/AddThreeNumbers.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
      <endpoint address="http://localhost:51685/AddTwoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AddTwoServiceSoap"
        contract="ServiceReference2.AddTwoServiceSoap" name="AddTwoServiceSoap" />
      <endpoint address="http://localhost:51685/SubstractService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SubstractServiceSoap"
        contract="SubstractService.SubstractServiceSoap" name="SubstractServiceSoap" />
      <endpoint address="http://localhost:51685/NameDate.asmx" binding="basicHttpBinding"
        bindingConfiguration="NameDateSoap" contract="NameDateService.NameDateSoap"
        name="NameDateSoap" />
      <endpoint address="http://localhost:51685/FamousPeopleDiedInPlanecrash.asmx"
        binding="basicHttpBinding" bindingConfiguration="FamousPeopleDiedInPlanecrashSoap"
        contract="FamousPeopleService.FamousPeopleDiedInPlanecrashSoap"
        name="FamousPeopleDiedInPlanecrashSoap" />
      <endpoint address="http://localhost:51685/PeopleWhoPassedAway2010.asmx"
        binding="basicHttpBinding" bindingConfiguration="PeopleWhoPassedAway2010Soap"
        contract="PeoplePassedAway2010Service.PeopleWhoPassedAway2010Soap"
        name="PeopleWhoPassedAway2010Soap" />
    </client>
  </system.serviceModel>
</configuration>